<form [formGroup]="searchForm">
  <label for="search"
    >Title
    <input
      type="text"
      id="search"
      name="search"
      placeholder="Search a product..."
      autocomplete="off"
      formControlName="title" />
  </label>
  <label for="min-price"
    >Min. Price
    <input
      type="number"
      id="min-price"
      name="min-price"
      placeholder="Min. Price"
      autocomplete="off"
      min="0"
      formControlName="price_min" />
  </label>
  <label for="max-price"
    >Max. Price
    <input
      type="number"
      id="max-price"
      name="max-price"
      placeholder="Max. Price"
      autocomplete="off"
      min="0"
      formControlName="price_max" />
  </label>
  <label for="category"
    >Categories
    <select id="category" formControlName="categoryId">
      <option value="0" selected>Select a category…</option>
      <option *ngFor="let category of categories" value="{{ category.id }}">
        {{ category.name }}
      </option>
    </select>
  </label>
</form>
