<main class="main splitview">
  <aside class="splitview__sidebar">
    <h5 class="splitview__sidebar__title">Advanced Search</h5>
    <app-advanced-filter (queryParams)="onQueryParams($event)" [categories]="categories$ | async"></app-advanced-filter>
  </aside>
  <section class="splitview__content">
    <ng-container *ngIf="searchResults$ | async as results">
      <div *ngIf="!results">Searching...</div>
      <div *ngIf="results && !results.length">No results found...</div>
      <div class="resultsGrid" *ngIf="results && results.length > 0">
        <ng-container *ngFor="let result of results">
          <app-product [product]="result">
            <a role="button" routerLink="/product/{{result.id}}">Product Details</a>
          </app-product>
        </ng-container>
      </div>
    </ng-container>
  </section>
</main>
