<main class="main splitview">
  <aside class="splitview__sidebar">
    <h5 class="splitview__sidebar__title">Advanced Search</h5>
    <app-advanced-filter (queryParams)="onQueryParams($event)" [categories]="categories$ | async"></app-advanced-filter>
  </aside>
  <section class="splitview__content">
    <ng-container *ngIf="appState$ | async as state">
      <div *ngIf="!state.loading">Searching...</div>
      <div *ngIf="state.data && !state.data.length">No results found...</div>
      <div class="resultsGrid" *ngIf="state.data && state.data.length > 0">
        <ng-container *ngFor="let item of state.data">
          <app-product [product]="item">
            <a role="button" routerLink="/product/{{item.id}}">Product Details</a>
          </app-product>
        </ng-container>
      </div>
    </ng-container>
  </section>
</main>
