<main class="main homePage">
  <hgroup class="homePage__titlegroup">
    <h2 class="homePage__titlegroup__primary">Search for products</h2>
    <h3 class="homePage__titlegroup__secondary">
      Select a product or press enter to do an advanced search
    </h3>
  </hgroup>
  <ng-container *ngIf="appState$ | async as state">
    <form [formGroup]="searchForm" novalidate (submit)="goToAdvancedSearch()">
      <input
        class="homePage__search"
        formControlName="title"
        type="search"
        id="search"
        name="search"
        placeholder="Search a product..."
        autocomplete="off" />
      <div class="homePage__loading" *ngIf="state.loading">Loading data...</div>
      <ng-container *ngIf="state.error">
        <div class="homePage__error">We got an error: {{ state.error }}</div>
      </ng-container>
      <div class="homePage__results" *ngIf="searchForm.dirty && !state.loading && state.data">
        <ng-container  *ngIf="!state.data?.length">
          <div class="homePage__results__notFound">
            No results found...
          </div>
        </ng-container>
        <ul class="homePage__results__list">
          <ng-container *ngFor="let item of state.data; trackBy: trackByProducts">
            <li
              role="link"
              routerLink="/product/{{ item.id }}"
              class="homePage__results__list__item">
              {{ item.title }}
            </li>
          </ng-container>
        </ul>
      </div>
    </form>
  </ng-container>
</main>
