.results
  top: 5rem
  border: 1px solid var(--form-element-border-color)
  border-radius: 1rem
  padding: 1rem
  ul
    margin: 0
  li
    list-style: none
    padding: 0.5rem
    border-radius: 1rem
    &:hover
      cursor: pointer
      background-color: #ddd

