<main class="main" *ngIf="appState$ | async as state">
  <div *ngIf="state.error">We have an error: {{ state.error }}</div>
  <div *ngIf="state.loading">Loading product...</div>
  <app-product [product]="state.data" *ngIf="!state.error && !state.loading">
    <section image class="carousel">
      <img *ngFor="let im of state.data.images; trackBy: trackByImages"
           class="product__image"
           [src]="state.data.images[0] || '' | imageNotFound" />
    </section>
    <button footer>Buy!</button>
  </app-product>
</main>
